<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377325217652-m1184ohh9jtomdq6ns0q1kbasopgfmus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377325217652-m1184ohh9jtomdq6ns0q1kbasopgfmus</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>377325217652-2ippjptljkjdb67rkkd26kn54k164d7v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBiqVY5ZHbhJkYWdAAV6TQevYrsaoJHD70</string>
	<key>GCM_SENDER_ID</key>
	<string>377325217652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aush.aush</string>
	<key>PROJECT_ID</key>
	<string>chemy-llc</string>
	<key>STORAGE_BUCKET</key>
	<string>chemy-llc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377325217652:ios:cb2310c2a2deabcd5f6e21</string>
	<key>DATABASE_URL</key>
	<string>https://chemy-llc.firebaseio.com</string>
</dict>
</plist>